body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#gameCanvas {
    border: 1px solid black;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.dpad {
    display: grid;
    grid-template-areas:
        "dpad-up"
        "dpad-middle"
        "dpad-down";
}

.dpad-up {
    grid-area: dpad-up;
}

.dpad-middle {
    display: flex;
    justify-content: space-between;
    grid-area: dpad-middle;
}

.dpad-left, .dpad-right {
    width: 50px;
    height: 50px;
    background-color: #6c6c6c;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
    box-shadow: 0px 4px 0px #3c3c3c;
}

.dpad-left:active, .dpad-right:active {
    box-shadow: 0px 2px 0px #3c3c3c;
    transform: translateY(2px);
}

.dpad-down {
    grid-area: dpad-down;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.button {
    width: 40px;
    height: 40px;
    background-color: #6c6c6c;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
    box-shadow: 0px 4px 0px #3c3c3c;
}

.button:active {
    box-shadow: 0px 2px 0px #3c3c3c;
    transform: translateY(2px);
}
